@import "tailwindcss";

@layer base {
  body {
    background-color: #0f0f0f; /* M3 Dark App Background */
    color: #e3e3e3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #444746;
  border-radius: 20px;
}